<div id="categorias">

	<div class="section vertical bdireita bbaixo">
		<h1>Filmes e Series</h1>

		<%= liPostThumbnail({ post: obj["Filmes e Series"][0] }) %>
		<%= liPostThumbnail({ post: obj["Filmes e Series"][1] }) %>

		<a href="/search/label/Filmes e Series" class="vermais">Ver mais</a>
	</div>

	<div class="section horizontal bbaixo">
		
		<h1>Viagem</h1>

		<%= liPostThumbnail({ post: Viagem[0] }) %>
		<%= liPostThumbnail({ post: Viagem[1] }) %>

		<a href="/search/label/Viagem" class="vermais">Ver mais</a>

	</div>
	<div class="section vertical gray">
		
		<h1>Cozinha Ulige</h1>

		<%= liPostThumbnail({ post: obj["Cozinha Ulige"][0] }) %>
		<%= liPostThumbnail({ post: obj["Cozinha Ulige"][1] }) %>

		<a href="/search/label/Cozinha Ulige" class="vermais">Ver mais</a>

	</div>
	<div class="section vertical bbaixo">
		
		<h1>Discursiva</h1>

		<%= liPostThumbnail({ post: obj["Discursiva"][0] }) %>
		<%= liPostThumbnail({ post: obj["Discursiva"][1] }) %>

		<a href="/search/label/Discursiva" class="vermais">Ver mais</a>

	</div>
	<div class="section vertical bdireita bbaixo">
		
		<h1>A Cerveja Vive</h1>

		<%= liPostThumbnail({ post: obj["A Cerveja Vive"][0] }) %>
		<%= liPostThumbnail({ post: obj["A Cerveja Vive"][1] }) %>

		<a href="/search/label/A Cerveja Vive" class="vermais">Ver mais</a>

	</div>
	<div class="section horizontal bbaixo">
		
		<h1>Música</h1>

		<%= liPostThumbnail({ post: obj["Música"][0] }) %>
		<%= liPostThumbnail({ post: obj["Música"][1] }) %>

		<a href="/search/label/Música" class="vermais">Ver mais</a>

	</div>
	<div class="section horizontal gray">
		
		<h1>Arte</h1>

		<%= liPostThumbnail({ post: Arte[0] }) %>
		<%= liPostThumbnail({ post: Arte[1] }) %>

		<a href="/search/label/Arte" class="vermais">Ver mais</a>

	</div>
	<div class="section vertical">
		
		<h1>Ulige Entrevista</h1>

		<%= liPostThumbnail({ post: obj["Ulige Entrevista"][0] }) %>
		<%= liPostThumbnail({ post: obj["Ulige Entrevista"][1] }) %>

		<a href="/search/label/Ulige Entrevista" class="vermais">Ver mais</a>

	</div>
	<div class="section horizontal bdireita">
		
		<h1>Outros</h1>

		<%= liPostThumbnail({ post: Outros[0] }) %>
		<%= liPostThumbnail({ post: Outros[1] }) %>

		<a href="/search/label/Outros" class="vermais">Ver mais</a>

	</div>

</div>







