<div id="fb-root"></div>

<div id="header">
	<div class="wrapper">
		<div id="menu-holder">
			<a id="menu"></a>
			<div id="menu-dropdown">
				<% for (var i in categorias) { var c = categorias[i]; %>
					<a href="/search/label/<%= c %>"><%= c %></a>
				<% } %>
			</div>
		</div>


		<a href="/"><img src="http://melanke.github.io/ulige/imgs/logo.png"/></a>
		<div class="nav">
			<a class="youtube" href="https://www.youtube.com/cozinhaulige" target="_blank"></a>
			<a class="twitter" href="http://twitter.com/blogulige" target="_blank"></a>
			<a class="facebook" href="https://www.facebook.com/blogulige" target="_blank"></a>
			<a class="instagram" href="http://instagram.com/blogulige" target="_blank"></a>
			<a class="rss" href="http://feeds.feedburner.com/ulige" target="_blank"></a>
		</div>
		<div id="search-holder">
			<input type="search"/>
			<div id="search-dropdown">
				<a>Hi</a>
				<a>How</a>
				<a>Are</a>
				<a>You?</a>
			</div>
		</div>
	</div>
</div>
<div id="main">
	<div class="loading"></div>
</div>
<div class="clear"></div>
<div id="footer">
	<div class="wrapper">
		<div class="first-column">
			<a href="/"><img src="http://melanke.github.io/ulige/imgs/logo.png"/></a>
			<div class="nav">
				<a class="youtube" href="https://www.youtube.com/cozinhaulige" target="_blank"></a>
				<a class="twitter" href="http://twitter.com/blogulige" target="_blank"></a>
				<a class="facebook" href="https://www.facebook.com/blogulige" target="_blank"></a>
				<a class="instagram" href="http://instagram.com/blogulige" target="_blank"></a>
				<a class="rss" href="http://feeds.feedburner.com/ulige" target="_blank"></a>
			</div>
			<div id="footer-btns">
				<a id="quemsomos" href="/p/quem-somos.html">Quem Somos</a>
				<a id="contato" href="/p/contato.html">Contato</a>
			</div>
		</div>
		<div class="second-column">
			<span id="footer-text">
				O Ulige é um blog de variedades. Aqui você encontra cultura pop, literatura, tecnologia, dicas de viagens e muito mais.
			</span>
			<h1>Parceiros</h1>
			<div class="partners">
				<a href="http://www.discursivacomunicacao.com/" target="_blank">
					<img src="http://melanke.github.io/ulige/imgs/parceiros/discursiva.png" alt="Discursiva Comunicação"/>
				</a>
				<a>
					<img src="http://melanke.github.io/ulige/imgs/parceiros/uti.png" alt="Unidade de Talento Intensivo"/>
				</a>
				<a href="https://cliquecult.com.br/" target="_blank">
					<img src="http://melanke.github.io/ulige/imgs/parceiros/cliquecult.png" alt="Clique Cult"/>
				</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>